@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(0deg, rgb(204, 189, 189) 23.8%, rgb(214, 110, 214) );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgb(131, 2, 131, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 110px;
}
 .img-container img {
     position: absolute;
     width: inherit;
 }